
@{
    Layout = "~/Views/Working/_working_layout.cshtml";
    ViewBag.CompanyMessage = "We now require 30% of company time to be spent on call blocks.";
    ViewBag.Title = "User";

}



<div class="jumbotron">
    <h1>@ViewBag.CompanyMessage</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hot Jobs</h2>
    </div>
    <div class="col-md-4">
        <h2>New Facilities</h2>
    </div>
    <div class="col-md-4">
        <h2>Available Providers</h2>
    </div>
</div>